# Python bytecode files
__pycache__/
*.pyc

# Local database file
lineage.db

# Other local files
temp_downloads/*

# Configuration/credentials file
connections.json

# Environment variables
.env
.venv/
venv/